h1 {
    padding: ;
    text-shadow:
}

main li {
    font-style: italic;
}

h2 + p {
    font-weight: 100%;
    opacity: 90%;
}

main > p {
    font-variant: small-caps;
    line-height: 3;
    text-shadow: 2px 2px 2px;
}

li > a {
    font-size: 1.8em;
}

h3 ~ p {
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
    margin: 0 auto;
    font-size: 14pt;
}

a:link {
    font-style: italic;
    font: 14pt;
}

body {
    width: 80%;
    margin: 0 auto;
    background-image: ;
    background-repeat: repeat-y;
    background-color: rgba(100, 100, 100, 50%);
}
