#top {
    margin: auto;
    width: 50%;
    padding: 30px;
}

.y {
    background-image: url(city-line.jpg);
    background-repeat: repeat-y;
}

body {
    background-image: url(city-line.jpg);
    background-repeat: repeat-x;
}

#x {
    background-image: url(city-line.jpg);
    background-repeat: repeat-y;
}

footer {
    background-color: lightblue;
    font-family: "arial";
    color: darkblue;
    padding: 10px;
    border-style: dashed;
    border-color: darkblue;
}

#notice {
    width: 80%;
    margin: 0 auto;
}

.underline {
    border-bottom-style: dotted;
    border-color: red;
    color: blue;
}

h1 {
    text-shadow: 2px 2px 2px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(100, 100, 100, 50%);
    font-family: sans-serif;
    font-size: 4em;
}

#feature {
    font-family: arial;
    font-size: 10px;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    text-shadow: 1px 1px 1px;
    color: red;
}
