body {
    font-family: sans-serif;
    font-size: 100%;
    width: 96%;
    max-width: 1200px;
}

section,
article,
aside,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

section,
article,
aside {
    margin-bottom: 1em;
}

p {
    font-size: .875em;

}

header {
    width: 100%
}

header h2 {
    font-size: 2.25em;
    margin-left: 12%
}

header h3 {
    font-size: 1.25em;
    font-style: italic;
    margin-left: 12%
}
