h1 {
    font-size: 2em;
    color: hsla(240, 100%, 50%, 0.5);

}

main li {
    font-style: italic;
    font-size: 20px;
    text-shadow: 2px 2px 2px;
}

h2 + p {
    font-weight: 100;
    opacity: 0.7;
    color: rgba(0, 0, 255, 0.7);

    font: italic bold .8em/1.2 Arial, sans-serif;
}

main > p {
    font-variant: small-caps;
    line-height: 8;
}

li > a:link {
    color: rgb(100, 100, 100);
}

li > img {
    float: right;
}

h3 ~ p {}

body {}
