body {
    background-color: bisque;
    color: maroon;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

h1 {
    padding-left: 560px;
    border-bottom-style: double;
    border-color: black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-width: 10px;
}

ol {
    border-color: black;
    border-style: solid;
    padding-left: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
