.parent {
    border: 5px solid lightcoral;
}

.item {
    height: 50px;
    margin: 5px;
    background: DeepSkyBlue;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
}

.parent {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.item {
    width: 50px;
}

.item:nth-child(3) {
    font-size: 70px;
}
