footer {
    text-align: center
}

footer a:link {
    margin: 2em
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

ol {
    border: thin solid black;
    margin-left: 40%;
    margin-right: 40%;
    padding-left:
}

img {
    height: 40;
    width: 40;
}
