#wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
}

nav {
    width: 80%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 10px;
}

a {
    padding: 30px;
}

p {
    padding: 30px;
    text-align: center;
    line-height: 2.3em;
}

* {
    font-weight: bold;
}

header {
    border-bottom: inset;
    border-color: yellow;
    border: 10px;
    background: linear-gradient(40deg, white 30%, red 60%, blue 10%)
}

footer {
    padding: 30px;
}
