body {
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 500px;
    margin: 0 auto;
    padding: 1em;
    border: 2px solid blue;
}

h1 {
    font-size: .5em;
}
