body {
    width: 80%;
    margin: 0 auto;
}

.jumbotron {
    text-align: center;
}

.mt-0 {
    text-align: center;
}

h5 {
    border: thin solid black;
    border-radius: 10px;
}

.media-body {
    border: thin solid black;
    border-radius: 10px;
    padding-top: 10px;
}
