/*<=========================================Header Begin============================================> */

header {
    color: black;
    background-color: darkseagreen;
    border: thin solid black;
    text-align: center;
}

/*<=========================================Header End==============================================> */

/*<=========================================Nav Begin===============================================> */

nav h3 {
    text-align: center;
}

/*<==========================================Nav End================================================> */

/*<=========================================Main Begin==============================================> */

main {
    color: black;
    background-color: darkseagreen;
    border: thick solid darkgreen;
    width: 80%;
    margin: 0 auto;
}

main form {
    padding-left: 20px;
}

form input {
    margin-left: 7em;
    margin-bottom: 3px;
}

/*<=========================================Main End================================================> */

/*<=======================================Aside Begin===============================================> */

/* Entire Fieldset */

#OG {
    color: black;
    background-color: darkseagreen;
    border: thick solid darkgreen;
    width: 78.8%;
    margin: 0 auto;
}

/* Pickup Fieldset */

#left {
    width: 40%;
    float: left;
}

/* Dropoff Fieldset */

#right {
    width: 40%;
    float: right;
}



/*<========================================Aside End================================================> */

/*<======================================Footer Begin===============================================> */

footer {
    color: black;
    background-color: darkseagreen;
    border: thick solid darkgreen;
    width: 80%;
    margin: 0 auto;
}

footer button {
    margin-top: 20px;
    margin-left: 45%;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/*<=======================================Footer End================================================> */
