/*<=========================================Header Begin============================================> */

header {
    color: black;
    background-color: orange;
    border: thin solid black;
    text-align: center;
}

/*<=========================================Header End==============================================> */

/*<=========================================Nav Begin===============================================> */

nav h3 {
    text-align: center;
}

/*<==========================================Nav End================================================> */

/*<=========================================Main Begin==============================================> */

main {
    color: black;
    background-color: darkorange;
    border: thick solid orangered;
    width: 80%;
    margin: 0 auto;
}

main p {
    
}

/*<=========================================Main End================================================> */

/*<=======================================Aside Begin===============================================> */

/*<========================================Aside End================================================> */

/*<======================================Footer Begin===============================================> */

footer {
    color: black;
    background-color: darkorange;
    border: thick solid orangered;
    width: 80%;
    margin: 0 auto;
}

footer button {
    margin-top: 20px;
    margin-left: 45%;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/*<=======================================Footer End================================================> */
