/*<=========================================Header Begin============================================> */

header {
    color: white;
    background-color: navy;
    border: thin solid black;
    border-radius: 2px 2px;
}

/*<=========================================Header End==============================================> */

/*<=========================================Main Begin==============================================> */

main {
    color: black;
    background-color: goldenrod;
    border: thin solid black;
    border-bottom-right-radius: 2px;
}

/*<=========================================Main End================================================> */
