/*<=========================================Header Begin============================================> */

header {
    color: white;
    background-color: dodgerblue;
    border: thin solid black;
    border-radius: 10px 10px;
    padding-left: 38%;
}

/*<=========================================Header End==============================================> */

/*<=========================================Main Begin==============================================> */

main {
    color: black;
    background-color: orangered;
    border: thin solid black;
    border-bottom-right-radius: 20px;
    padding-left: 39%;
}

table,
tr,
td {
    border: thin solid black;
    border-collapse: collapse;
}

#basic,
#express,
#extreme,
#ultimate {
    padding-left: 65px;
}

/*<=========================================Main End================================================> */
