body {
    width: 80%;
    margin: 0 auto;
    border-style: double;
    padding: 5px 5px 0px 5px;
    box-shadow: 5px 10px;
    background: linear-gradient(#800000, yellow)
}

header {
    border: 3px solid;
    background-color: #800000;
}

h1 {
    background-image: url(dark-clouds.jpg);
    background-repeat: no-repeat;
    color: moccasin;
    text-shadow: 2px 2px 2px;
}

nav p {
    border: thin solid;
    font-size: 15pt;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    word-spacing: 220px;
    background-color: moccasin;
    border-radius: 15px;
}

#ph {
    width: 80%;
    margin: 0 auto;
    padding-left: 590px;
    padding-top: 30px;
}

h3 {
    padding-left: 20px;
    padding-top: 100px;
    display: inline-flex;
    text-shadow: 2px 2px 2px;
}

.inline {
    width: 30%;
    padding-left: 40px;
    display: inline-flex;
    text-align: left;
}

#line {}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    font-style: italic;
}

footer section {
    text-align: center;
    border-top: 3px thin solid;
    border-color: black;
    background-color: #800000;
    padding: 1em 0;
    color: moccasin;
    padding-top: 2e
}
