a:link {
    border: thin solid blue;
    color: blue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

a:hover,
a:active {
    background-color: skyblue;
    font-size: 20.5px;
}

ul li {
    list-style: none;
    padding-top: 2.5em;
}
