a:link {
    border: thin solid blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: blue;
}

a:hover,
a:active {
    color: yellow;
    font-size: 18px;
}

ul li {
    list-style: none;
    padding-top: 9.5em;
    display: inline;
}

nav {
    width: 80%;
    margin: 0 auto;
    padding-top: 8em;
    padding-left: 35em;
}

header {
    width: 95%;
    margin: 0 auto;
    padding-top: 5em;
    padding-left: 35em;
}

header ul {
    padding-left: 110px;
}

a.base:link {
    border: none;
    padding: 15px;
    background-color: white;
    color: blue;
    text-decoration: underline;
}

a.base:hover,
a.base:active {
    background-color: white;
    font-size: 16px;
    color: blue;
    text-decoration: none;
}
