#nav_menu ul {
    list-style: none;
    position: relative;
}

#nav_menu ul li {
    float: left;
}

ul li {
    background-color: darkgray;
}

ul li:hover {
    background-color: gray;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    margin: 0 200px 0 0;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul ul li ul {
    position: absolute;
    left: 100%;
    top: 5;
}

#nav_menu ul li.lastitem ul li ul {
    position: absolute;
    left: -100%;
    top: 0;
}



#nav_menu ul li:hover > ul {
    display: block;
    margin-left: -60px;
}

#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
}

nav ul li {
    border-bottom: thin solid black;
    border-top: thin solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding-left: 20px;
}
