nav a:link,
nav {
    margin: 2em;
    text-align: center;
}

#email:link,
#email:visited {
    background-color: #CCCCCC;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: green;
}

a:hover,
a:active {
    background-color: #CCCCFF;
    text-decoration: underline;
}

body {
    width: 70%;
    margin: 0 auto;
    background-color: antiquewhite;
    color: #900C3F;
    border-style: double;
    border-color: black;
    line-height: 3em;
    font-family: sans-serif, "Arial", "Helvetica";
}


#title {
    padding-left: 1em;
}

h1,
#wrapper,
footer {
    text-align: center;
}
