#wrapper {
    width: 80%;
    margin: 0 auto;
}

header {
    min-height: 100px;
    background-color: black;
}

main {
    display: inline-block;
    background-color: #113111;
    color: #393837;
}

p {
    margin: 0 auto;
    background-color: #393837;
    color: #393837;
    border-style: double;
    border-color: white;
}

footer {
    clear: both;
    border-style: thick solid;
    display: inline-block;
    min-height: 100px;
    background-color: black;
}

aside {
    display: inline-flex;
    border-style: thin solid;
}

* {
    border-style: solid;
}
