#wrapper {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: black;
    height: 5em;
}

nav {
    vertical-align: top;
    display: inline-flex;
    background-color: #391111;
    color: #391111;
}

main {
    display: inline-block;
    height: 20em;
    background-color: #393837;
    color: #393837;
}

aside {
    border: thin solid white;
    display: inline-block;
    width: 15.7%;
    height: 36.7%;
    position: absolute;
    right: 199px;
    top: 94.9px;
    color: #393837;
    background-color: #393837;
    color: #393837;
}

* {
    border: thin solid;
    border-color: white;
}

footer {
    background-color: black;
    height: 5em;
}

p {
    line-height: 1.5em;
    vertical-align: top;
    min-height: 50px;
    background-color: #393837;
}

article {
    width: 80%;
}
