#wrapper {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #808080;
    min-height: 100px;
}

main {
    width: 65.9%;
    display: inline-block;
    vertical-align: top;
    background-color: #393837;
    color: #393837;
}

aside {
    width: 33%;
    display: inline-block;
    background-color: #393837;
    color: #393837;
}

p {
    margin: 0 auto;
    line-height: 3em;
    background-color: #393837;
}

footer {
    background-color: #808080;
    min-height: 100px;

}



* {
    border-style: solid;
    border-color: white;
}
