#wrapper {
    width: 80%;
    margin: 0 auto;
}

header {
    min-height: 100px;
}

main {
    display: inline-block;
}

p {
    margin: 0 auto;
}

footer {
    min-height: 200px;
    clear: both;
}

aside {
    display: inline-flex
}

* {
    border-style: solid;
}
