body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #F5F5F5;
}

.jumbotron {
    text-align: center;
}

main {
    width: 85%;
    margin: 0 auto;
}

.form-horizontal {
    text-align: left;
}

svg-icon {
    width: 5px;
    height: 5px;
}

.panel-title {
    text-align: center;
}

#features {
    text-align: center;
}

#features img {
    margin 0 0 20px;
}

.list-group {
    padding-top: 20px;
}

a:link {
    text-decoration: none;
}

a:hover {
    font-size: 18px;
}

.red {
    color: red;
}

#bg_button {
    font-size: 20px;
}

#nomu {
    width: 30%;
    margin: 0 auto;
}

/* Media Queries */

/* Tablets and Below */

@media (max-width: 768px) {
    .d-sm-block {
        visibility: visible;
    }

    .panel-title {
        text-align: center;
    }

    #html_5 {
        background: url(images/html_5_small.png)
    }

    #c_sharp {
        background: url(images/c_sharp_small.png)
    }

    #css {
        background: url(images/css.png)
    }
}

/* Large desktop */

@media (min-width: 1200px) {
    .navbar-brand {
        padding-left: 140px;
    }

    .d-sm-block {
        visibility: hidden;
    }
}
