body {
    width: 85%;
    margin: 0 auto;
    background: lightgray url("code_img.png") repeat-x top;
}

header {
    color: white;
}

small {
    font-size: 10pt;
}

#nav-bar {
    border-bottom: thin solid blue;
    margin: 0 auto;
    position: relative;
    background-color: blue;
}

#nav-bar li {
    display: inline-block;
    padding-left: 240px;
    font-size: 15pt;
    color: white;
}

#nav-bar a:link,
a:visited {
    text-decoration: none;
    color: white;
}

#nav-bar a:hover {
    font-size: 15.5pt;
    color: red;
}

h3 {
    border-bottom: underline;
}

#main-content {
    width: 50%;
    float: left;
    margin: 0 auto;
    position: absolute;
}

#side-content {
    width: 40%;
    float: right;
    margin: 0 auto;
    vertical-align: text-top;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
