body {
    background-color: white;
    color: #000099;
    font-family: sans-serif;
    width: 85%;
    margin: auto auto;
}

h1 {
    border-style: double;
    font-family: "times new roman";
}

main {
    border-bottom-style: solid
}

a:link,
a:visited {
    background-color: #CCCCCC;
    padding: 14px 25px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

a:hover,
a:active {
    background-color: green;
}

.news {
    color: red;
    font-style: italic;
}
