body {
    background-color: white;
    color: #000099;
    font-family: sans-serif;
    width: 85%;
    margin: 0 auto;
}

a:link,
a:visited {
    background-color: #CCCCCC;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: #CCCCFF;
    text-decoration: underline;
}

h1 {
    font-family: "times new roman";
    color: red;
}

span {
    border-style: double;
    border-color: black;

}

blockquote {
    border-bottom-style: solid;
    border-color: black;
}
