body {
    background-color: yellow;
    color: green;
}

a:link,
a:visited {
    background-color: white;
    display: inline-block;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    color: black
}

a:hover {
    background-color: gray
}

h1 {
    background-color: white;
    font-family: "times new roman";
    color: green
}
